<%- include("partials/header.ejs") %>

<h1 class="about-text">Hoş Geldiniz!</h1>
<p class="about-text">
    Hikaye Dünyam, yaratıcılığınızı serbest bırakabileceğiniz, hikayelerinizi paylaşabileceğiniz bir topluluktur. Biz, hikayelerin güçlü bağları nasıl kurduğuna, duygularımızı nasıl ifade ettiğine ve insanların birbirine nasıl ilham verdiğine inanıyoruz. 
</p>

<h2 class="about-text">Misyonumuz:</h2>
<p class="about-text">
    Hikaye Dünyam, herkesin hikayesini anlatabileceği ve okuyabileceği bir alan yaratma misyonu güder. Burada, farklı bakış açılarından gelen hikayeleri keşfetmek ve topluluğumuzla bağ kurmak için bir araya geliyoruz.
</p>

<h3 class="about-text">
    Ne Tür Hikayeler Paylaşabilirsiniz?:
</h3>

<p class="about-text">
    Her türlü hikayeye açığız! Yaşam deneyimleri, fantastik maceralar, duygusal anılar, bilim kurgu dünyaları... Sınırlar sizin hayal gücünüzle belirlenir. Yalnızca özgün ve saygılı içeriklerle dolu bir topluluk oluşturmak istiyoruz.


</p>
<%- include("partials/footer.ejs") %>

