<%- include("partials/header.ejs") %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Hep beraber hikaye dünyamızı büyütelim...</h1>
      <p class="lead">
        Kelimelerle dokunan bir dünyaya hoş geldiniz. Hikaye Dünyam, hikayelerin ve hayallerin buluşma noktasıdır. İnsanların en derin duygularını, en büyük maceralarını ve hayatın kendisiyle ilgili ne varsa paylaştığı bir yer.


      </p>
    </div>
  </div>

<div class="form">
    <div class="row ">
        <div class="col-12 ">
            <form action="/submit" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label ">Lütfen hikayenin ismini giriniz.</label>
                <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Hikayenin ismini giriniz...">
              </div>
              <div class="mb-3">
                <label for="Hikaye" class="form-label">Hikaye Giriş Alanı</label>
                <textarea class="form-control" placeholder="Lütfen hikayenizi yazınız..." name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary ">Onayla</button>  
              </div>
              
            </form>
        </div>
    </div>
</div>
  

<div id="story" class="container my-5">
  <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
    <button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close" onclick="clearContent()"></button>
    <svg class="bi mt-5 mb-3" width="48" height="48"><use xlink:href="#check2-circle"></use></svg>
    <h1 id="storyName" class="text-body-emphasis"> <%= locals.name %> </h1>
    <p id="storyText" class="col-lg-6 mx-auto mb-4">
      <%= locals.text %>
    </p>
    
  </div>
</div>



  <script>
  function clearContent() {
    document.getElementById('story').remove();
    
  }
</script>
<%- include("partials/footer.ejs") %>

